@charset "UTF-8";

:root{
  --ball-color: #039668;
  --strike-color: #f1b514;
  --out-color: #cb260f;
}

body {
  /* padding-top: 2rem; */
  background-position: center center;
/*   background-size: contain; */
  background-image: url(/image/background.png);
  background-repeat: repeat;
}

body#login-form{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type="number"] { 
  -moz-appearance:textfield; 
}

#loading{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: rgba(255, 255, 255, .5);
}

#loading *{
  margin: 0;
  padding: 0;
}

#wrap{
  display: none;
}

.container {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.navbar .container{
  margin: 0 auto;
}

label.label-placeholder{
  color: #888;
}

span.title {
  display: inline-block;
  width: 25px;
  text-align: center;
}

span.cnt_ball {
  color: var(--ball-color);
}

span.cnt_strike {
  color: var(--strike-color);
}

span.cnt_out {
  color: var(--out-color);
}

span.cnt_num {
  font-size: 14px;
  letter-spacing: 3px;
}

.navbar-toggler, .navbar-toggler:focus{
  background-color: transparent !important;
  border-color: transparent !important;
  border: none;
  outline: none !important;
}

.navbar-dark .navbar-toggler{
  outline: none;
  color: transparent !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

th{
  width: 30% !important;
}
