@charset "UTF-8";

:root{
  --main-color: #5b2c6f;
  --sub-color: #ead6f1;
  --nice-color: #e74c3c;
  --background-color: #eee;
  --text-color: #111;
  --border-color: #888;

  --header-bar-height: 70px;
  --footer-bar-height: 70px;
}

@font-face{
  font-family: 'logo_font';
  src: url('/fonts/logo_font.ttf');
}

*{
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  background-color: var(--background-color);
  margin: 0;
}

a{
  text-decoration: none;
  color: var(--background-color);
}

.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-bar-height);
  background-color: var(--background-color);
  border-bottom: 3px solid var(--main-color);
  border-image: linear-gradient(to right, #5499c7, var(--main-color), #4a235a);
  border-image-slice: 1;
}

.header *{
  color: #000;
}

.header_group{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header_list{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header_menu_left, .header_menu_right{
  width: var(--header-bar-height);
}

.header_logo{
  width: calc(100vw - var(--header-bar-height) * 2);
  font-size: 20px;
  letter-spacing: 1px;

}

.header_logo a{
  width: 70%;
  color: var(--main-color);
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: var(--footer-bar-height);
  background-color: var(--background-color);
  border-top: 3px solid var(--main-color);
  border-image: linear-gradient(to left, #5499c7, var(--main-color), #4a235a);
  border-image-slice: 1;
}

.footer_group{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.footer_list{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 25%;
}

.menu_icon{
  font-size: 24px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}

.menu_icon a{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #000;
}

.footer_list.menu_icon{
  margin: 0 calc((25% - 50px) / 2);
}

.menu_icon:hover{
  background-color: var(--sub-color);
}

.main{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - var(--header-bar-height) - var(--footer-bar-height));
  overflow-y: scroll;
  margin: var(--footer-bar-height) auto 0;

  background-color: var(--background-color);
}

.main .content{
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 90%;
  margin: 20px auto;
}

.main .content.login_form{
  display: flex;
  border: 1px solid #888;
}

.login_form_background{
  height: 100vh;
  overflow-y: scroll;
  background: url('/resource/image/background/background_login.jpg');
  background-size: cover;
}

.content.login_form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 80%;
  padding: 30px 0;
  margin: 20px auto;
  max-width: 600px;
  min-height: calc(100vh - 40px);
  border-radius: 7.5px;
  background-color: var(--background-color);
  box-shadow: 0 0 5px #ddd;

}

.content.login_form .logo{
  font-family: 'logo_font';
  font-size: 40px;
  margin-bottom: 20px;
}

.content.login_form .label{
  text-align: left;
  margin: 10px auto -10px;
  width: 60vw;
  max-width: 400px;
  color: #555;
  font-size: 14px;
}

.content.login_form h3.label{
  font-size: 20px;
  font-weight: normal;
  margin-top: 20px;
  color: #555;
  margin-bottom: 20px;
}

.content.login_form .exp{
  color: #555;
}

.content.login_form .login_form_input{
  margin: 15px 0 5px; 
  padding: 0 10px;
  width: 60vw;
  max-width: 400px;
  height: 40px;
  border-radius: 5px;
  outline: none;
  transition: border-color .3s ease-in-out, background-color .3s ease-in-out, color .3s ease-in-out;
  border: 1px solid #888;
  color: #555;
  background-color: var(--background-color);
}

.content.login_form .bio{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60vw;
  max-width: 400px;
  height: 150px;
  margin: 15px auto 5px;
  font-size: 16px;
  padding: 7.5px 10px;
  resize: none;
  border: none;
  outline: none;
  border-radius: 5px;
  border: 1px solid #888;
  background-color: var(--background-color);
  transition: border-color .3s ease-in-out, background-color .3s ease-in-out, color .3s ease-in-out;
}

.content.login_form .bio:focus-visible{
  background-color: var(--sub-color);
  border-color: var(--main-color);
  color: var(--main-color);
}

.content.login_form .bio:not(:placeholder-shown){
  background-color: var(--sub-color);
  border-color: var(--main-color);
  color: var(--main-color);
}


.content.login_form.join_form .login_form_input{
  margin: 15px 0 5px;
}

.content.login_form .login_form_input:focus-visible, .content.login_form .login_form_input:not(:placeholder-shown){
  outline: none;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  background-color: var(--sub-color);
}

.content.login_form .login_form_input.button:focus-visible, .content.login_form .login_form_input.button:not(:placeholder-shown){
  outline: none;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 20px;
  background-color: var(--background-color);
  cursor: pointer;
  /* transition: background-color .3s ease-in-out, color .3s ease-in-out; */
  transition: none;
}

.content.login_form .login_form_input.button:hover{
  background-color: var(--main-color);
  color: var(--background-color);
}

.content.login_form label.file_input_btn{
  display: flex;
  width: 60vw;
  text-align: center;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  height: 40px;
  margin: 15px auto 5px;
  padding: 0 10px;
  border-radius: 5px;
  color: #888;
  transition: border-color .3s ease-in-out, background-color .3s ease-in-out, color .3s ease-in-out;
  border: 1px solid #888;
  cursor: pointer;
  font-size: 14px;
}

.content.login_form label.file_input_btn .file_name{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

input[type="file"] {
  display: none;
}

.content.login_form .file_input_alert{
  font-size: 12px;
  color: #555;
  margin-top: 2.5px;
}

.content.login_form .submit_btn{
  outline: none;
  background-color: var(--main-color);
  color: #fff;
  margin-top: 20px;
  height: 50px;
  width: 150px;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  transition: opacity .3s ease-in-out;
}

.content.login_form .submit_btn:hover{
  opacity: .95;
}

.content.login_form .error{
  font-size: 12px;
  color: var(--nice-color);
}

.content.login_form.join_form .error{
  font-size: 12px;
  width: 60vw;
  max-width: 400px;
  margin: 0 auto;
  color: var(--nice-color);
  text-align: left;
}

.content.login_form .join, .content.login_form .login{
  font-size: 14px;
  color: #555;
  margin-top: 15px;
}

.content.login_form .join a, .content.login_form .login a{
  color: var(--main-color);
  margin-left: 5px;
  text-decoration: underline;
}


.content.login_form .input_file{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content.login_form .image{
  display: flex;
  width: 64px;
  height: 64px;
  margin: 15px 0 0;
}

.content.login_form .image img{
  border-radius: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.send{
  display: flex;
  flex-direction: column;
}

.send_window{
  background-color: var(--background-color);
  border-radius: 7.5px;
  width: 80%;
  max-width: 600px;
  padding: 20px;
}

.send_window .res_detail{
  width: 60vw;
  max-width: 400px;
  text-align: left;
  margin: 15px auto -15px;
  font-size: 14px;
  color: #555;
}

.send_window .res_detail a{
  color: var(--main-color);
}

.send_window .image{
  margin: 10px auto 35px;
  width: 64px;
  height: 64px;
}

.send_window .image img{
  border-radius: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.send_window .exp{
  color: #555;
}

.send_window .res_detail a:hover{
  text-decoration: underline;
}

.send_window .message{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60vw;
  max-width: 400px;
  height: 150px;
  margin: 20px auto;
  font-size: 16px;
  padding: 7.5px 10px;
  resize: none;
  border: none;
  border-radius: 5px;
  border: 1px solid #888;
  background-color: var(--background-color);
  transition: border-color .3s ease-in-out, background-color .3s ease-in-out, color .3s ease-in-out;
}

.send_window .message:focus-visible{
  border-color: var(--main-color);
  background-color: var(--sub-color);
  color: var(--main-color);
}

.send_window .message:not(:placeholder-shown){
  border-color: var(--main-color);
  background-color: var(--sub-color);
  color: var(--main-color);
}

.send_window .message:focus-visible{
  outline: none;
}

.send_window .menu_group{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  font-size: 20px;
  margin: 0 5px;
  flex-wrap: wrap;
  width: 100%;
  color: var(--main-color);
}

.send_window .menu_list i{
  cursor: pointer;
}

.send_window .submit{
  width: 100%;
  text-align: center;
}

.send_window .submit input{
  width: 120px;
  height: 45px;
  border-radius: 22.5px;
  margin-top: 10px;
  outline: none;
  border: none;
  background-color: var(--main-color);
  color: #fff;
  cursor: pointer;
  transition: opacity .3s ease-in-out;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
}

.send_window .submit input:hover{
  opacity: .95;
}

.send .submit button{
  display: flex;
  position: fixed;
  right: 30px;
  bottom: calc(var(--footer-bar-height) + 20px);
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  outline: none;
  border: none;
  background-color: var(--main-color);
  color: #fff;
  cursor: pointer;
  transition: opacity .3s ease-in-out;
  font-size: 20px;
}

.send .submit input:hover{
  opacity: .9;
}

.block.post{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 10px auto;
  padding: 10px;
  padding-bottom: 0;
  border-radius: 5px;
  border: 1px solid #888;
  background-color: var(--background-color);
}

.block.post.emph{
  border-width: 3px;
}

.block.post::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 18px;
  left: -24px;
  border: 12px solid transparent;
  border-right: 12px solid #fffacd;
}

.block.post a{
  text-decoration: none;
}

.block.post .image{
  display: flex;
  flex-direction: column;
  width: 48px;
  height: 48px;
  margin: 5px;
}

.block.post .image a{
  border-radius: 100%;
  width: 100%;
  height: 100%;
}

.block.post .image a img{
  border-radius: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.block.post .text{
  display: flex;
  flex-direction: column;
  margin: 5px;
  width: calc(100% - 48px - 5px*4);
}

.block.post .text .link{
  cursor: pointer;
}

.block.post .text .heading{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.block.post .text .heading .name{
  display: flex;
  flex-direction: row;
  margin-right: 5px;
  font-size: 20px;
  font-weight: bold;
  max-width: 70%;
}

.block.post .text .heading .name .name_text{
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.block.post .text .heading .created{
  display: flex;
  flex-direction: row;
  margin-left: 5px;
  font-size: 13px;
}

.block.post .text .message{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.block.post .text .message object{
  width: 100%;
}

.block.post .text .message .thread_exp{
  font-size: 14px;
}

.block.post .text .message .quote_exp{
  font-size: 14px;
  width: 100%;
  margin: 5px 0;
  padding: 7.5px;
  border: 1px solid #888;
  border-radius: 5px;
  color: #000;
}

.block.post .text .message .quote_exp .name{
  font-size: 16px;
  font-weight: bold;
}

.block.post .text .message span{
  color: var(--main-color);
  cursor: pointer;
}

.block.post .text .message span:hover{
  text-decoration: underline;
}

.block.post .text .menu_group{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 5px;
}

.block.post .text .menu_group .menu_list{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: left;
  align-items: baseline;
  width: 20%;
}

.block.post .text .menu_group .menu_list.delete{
  justify-content: right;
  margin-left: 20%;
}

.block.post .text .menu_group .menu_list object{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: left;
  align-items: baseline;
}

.block.post .text .menu_group .menu_list i{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor:pointer;
  color: var(--text-color);
  height: 30px;
  width: 30px;
  border-radius: 100%;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
  cursor: pointer;
}

.block.post .text .menu_group .menu_list i.readonly{
  color: #888;
  cursor: default;
}

.block.post .text .menu_group .menu_list i.fas.fa-heart{
  color: var(--nice-color);
}

.block.post .text .menu_group .menu_list i.fas.fa-heart + .nice_cnt{
  color: var(--nice-color);
  margin-left: -1.5px;
}

.block.post .text .menu_group .menu_list.like i:hover{
  color: var(--nice-color);
}

.block.post .text .menu_group .menu_list i:hover{
  background-color: var(--sub-color);
}

.block.post .text .menu_group .menu_list i.readonly:hover{
  background-color: var(--background-color);
}

.block.post .text .menu_group .menu_list.show_relpy{
  justify-content: left;
  width: 100%;
  font-size: 14px;
  margin-top: 5px;
}

.block.post .text .menu_group .menu_list.show_relpy a{
  color: var(--main-color);
}

.block.post .text .menu_group .menu_list.show_relpy a:hover{
  text-decoration: underline;
  cursor: pointer;
}

.profile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  align-items: top;
  border-bottom: 2px solid var(--main-color);
  padding: 10px;
}

.profile .profile_content{
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
}

.profile .profile_heading{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin-bottom: 5px;
}

.profile .profile_image{
  display: flex;
  width: 64px;
  height: 64px;
  margin: 5px;
}

.profile .profile_image img{
  display: flex;
  border-radius: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile .profile_name{
  display: flex;
  margin-left: 10px;
  font-weight: bold;
  max-width: 60vw;
}

.profile .profile_name .profile_name_text{
  width: 100%;
  word-break: break-word;
  font-size: 20px;
}

.profile .profile_exp{
  width: 100%;
  padding: 5px 10px 10px;
  word-break: break-word;
}

.profile .profile_follow_group{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.profile .profile_follow_list{
  display: flex;
  justify-content: left;
  align-items: baseline;
  margin-right: 15px;
  font-size: 14px;
}

.profile .profile_follow_list span.follow_num{
  font-size: 16px;
  margin-right: 5px;
  font-weight: bold;
}

.profile .follow_btn{
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100%;
}

.profile .follow_btn input{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-radius: 20px;
  padding: 0 30px;
  outline: none;
  border: none;
  background-color: var(--main-color);
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  transition: opacity .3s ease-in-out;
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 5px;
}

@media (max-width: 400px) {
  .block.post .text .message{
    font-size: 14px;
  }
}